name: Windows x64 Build OpenSSL3

on:
  workflow_dispatch:
  push:
    branches: [ main ]
  pull_request:

jobs:
  build-windows:
    runs-on: windows-2022

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Submodule update
        shell: pwsh
        run: |
          git submodule sync --recursive
          git submodule update --init --recursive

      - name: Configure msbuild
        uses: microsoft/setup-msbuild@v2

      - name: Bootstrap vcpkg
        shell: pwsh
        run: |
          Set-StrictMode -Version Latest
          & .\cpp\vcpkg\bootstrap-vcpkg.bat

      - name: Configure
        shell: pwsh
        run: |
          $root = (Get-Location).Path
          cmake -S .\cpp `
                -B .\build\vs2022-openssl3 `
                -G "Visual Studio 17 2022" `
                -A x64 `
                -DCMAKE_TOOLCHAIN_FILE="$root\cpp\vcpkg\scripts\buildsystems\vcpkg.cmake" `
                -DVCPKG_MANIFEST_DIR="$root\cpp\vcpkg-alts\openssl_3" `
                -DVCPKG_TARGET_TRIPLET=x64-windows-static `
                -DBUILD_SHARED_LIBS=ON `
                -DCMAKE_MSVC_RUNTIME_LIBRARY="MultiThreaded$<$<CONFIG:Debug>:Debug>" `
                -DCMAKE_CXX_FLAGS="/wd4267 /wd4530"

      - name: Build
        shell: pwsh
        run: cmake --build .\build\vs2022-openssl3 --config Release

      - name: Upload Artifacts 
        uses: actions/upload-artifact@v6
        with:
          name: libdave-windows-x64-release
          path: |
            build/vs2022-openssl3/Release/**
